<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daiyuhe.blog.dao.ArchiveDao">
  <insert id="insert">
    insert ignore into blog_archive(objext_id, article_count, archive_date)
    values(#{objectId}, #{articleCount}, #{archiveDate})
  </insert>
  <select id="queryAll" resultType="Archive">
    select * from blog_archive
  </select>
</mapper>