<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daiyuhe.blog.dao.ArticleTagDao">
    <insert id="insert">
        insert into blog_article_tag (object_id, article_id, tag_id)
        values (#{objectId}, #{articleId}, #{tagId})
    </insert>
    <select id="queryArticleByTagId" resultType="Article">
        select object_id,
               title,
               abstracts,
               content,
               tags,
               author_id,
               comment_count,
               view_count,
               permalink,
               is_published,
               is_top,
               create_time,
               update_time,
               commentable,
               view_password
        from blog_article_tag t,
             blog_article a
        where t.article_id = a.object_id
          and t.tag_id = #{tagId}
    </select>
    <delete id="deleteByArticleAndTagId">
        delete
        from blog_article_tag
        where article_id = #{articleId}
          and tag_id = #{tagId}
    </delete>
    <delete id="deleteByArticleId">
        delete
        from blog_article_tag
        where article_id = #{articleId}
    </delete>
    <delete id="deleteByTagId">
        delete
        from blog_article_tag
        where tag_id = #{tagId}
    </delete>
</mapper>