<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daiyuhe.blog.dao.ArticleDao">
    <select id="queryByPermalink" resultType="Article">
        select *
        from blog_article
        where permalink = #{permalink}
    </select>
    <select id="queryAll" resultType="Article">
        select *
        from blog_article
        order by limit #{offset}, #{limit}
    </select>
    <delete id="deleteById">
        delete from blog_article
        where object_id = #{objectId}
    </delete>
    <insert id="insert" parameterType="org.daiyuhe.blog.entity.Article">
        insert ignore
        into blog_article(object_id, title, abstracts, content, tags,
        author_id, comment_count, view_count, permalink, is_published, is_top,
        create_time, update_time, commentable, view_password)
        values (#{objectId}, #{title}, #{abstracts}, #{content}, #{tags},
        #{authorId}, #{commentCount}, #{viewCount}, #{permalink}, #{isPublished}, #{isTop},
        #{createTime}, #{updateTime}, #{commentable}, #{viewPassword})
    </insert>
    <update id="updateIsTopById">
        update blog_article
        set is_top = #{isTop}
        where object_id = #{objectId}
    </update>
    <update id="updateIsPublishedById">
        update blog_article
        set is_published = #{isPublished}
        where object_id = #{objectId}
    </update>
    <select id="isTop" resultType="boolean">
        select is_top
        from blog_article
        where object_id = #{objectId}
    </select>
    <select id="isPublished" resultType="boolean">
        select is_published
        from blog_article
        where object_id = #{objectId}
    </select>
    <update id="updateCommentableById">
        update blog_article
        set commentable = #{commentable}
        where object_id = #{objectId}
    </update>
    <update id="updateViewPasswordById">
        update blog_article
        set view_password = #{viewPassword}
        where object_id = #{objectId}
    </update>
    <update id="addCommentCountById">
        update blog_article
        set comment_count = comment_count + 1
        where object_id = #{objectId}
    </update>
    <update id="addViewCountById">
        update blog_article
        set view_count = view_count + 1
        where object_id = #{objectId}
    </update>
</mapper>