<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daiyuhe.blog.dao.CategoryTagDao">
    <insert id="insert">
        insert ignore into blog_category_tag (object_id, category_id, tag_id)
        values (#{objectId}, #{categoryId}, #{tagId})
    </insert>
    <select id="queryArticleByCategoryId" resultType="Article">
        select object_id,
               title,
               abstracts,
               content,
               tags,
               author_id,
               comment_count,
               view_count,
               permalink,
               is_published,
               is_top,
               create_time,
               update_time,
               commentable,
               view_password
        from blog_category_tag ct,
             blog_tag t,
             blog_article a
        where ct.category_id = #{categoryId}
          and ct.tag_id = t.tag_id
          and t.article_id = a.object_id
    </select>
    <delete id="deleteByTagId">
        delete
        from blog_category_tag
        where tag_id = #{tagId}
    </delete>
</mapper>