<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.daiyuhe.blog.dao.CommentDao">
    <insert id="insert">
        insert into blog_comment (object_id, content, createtime, name, article_id,
                                  sharp_url, avatar, original_id, original_name)
        values (#{objectId}, #{content}, #{createTime}, #{name}, #{articleId},
                #{sharpUrl}, #{createTime}, #{originalId}, #{originalName})
    </insert>
    <select id="queryAll" resultType="Comment">
        select *
        from blog_comment
    </select>
    <select id="queryById" resultType="Comment">
        select *
        from blog_comment
        where object_id = #{objectId}
    </select>
    <select id="queryByArticleId" resultType="Comment">
        select *
        from blog_comment
        where articleId = #{articleId}
    </select>
    <select id="queryByOriginalId" resultType="Comment">
        select *
        from blog_comment
        where Original_id = #{originalId}
    </select>
    <delete id="deleteById">
        delete
        from blog_comment
        where object_id = #{objectId}
    </delete>
</mapper>